<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>genNseWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  <servlet>
    <servlet-name>ModeServlet</servlet-name>   
    <servlet-class>com.servlet.ModeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdServlet</servlet-name>
    <servlet-class>com.servlet.AdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AclServlet</servlet-name>    
    <servlet-class>com.servlet.AclServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LpmServlet</servlet-name>    
    <servlet-class>com.servlet.LpmServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProfileServlet</servlet-name>    
    <servlet-class>com.servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GenAppServlet</servlet-name>    
    <servlet-class>com.servlet.GenAppServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KeyServlet</servlet-name>
    <servlet-class>com.servlet.KeyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RuleServlet</servlet-name>
    <servlet-class>com.servlet.RuleServlet</servlet-class>
  </servlet>
<servlet>
    <servlet-name>HistoryServlet</servlet-name>    
    <servlet-class>com.servlet.HistoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelHistoryRecServlet</servlet-name>
    <servlet-class>com.servlet.DelHistoryRecServlet</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>ModeServlet</servlet-name>
    <url-pattern>/servlet/ModeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdServlet</servlet-name>
    <url-pattern>/servlet/AdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AclServlet</servlet-name>
    <url-pattern>/servlet/AclServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LpmServlet</servlet-name>
    <url-pattern>/servlet/LpmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/servlet/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenAppServlet</servlet-name>
    <url-pattern>/servlet/GenAppServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KeyServlet</servlet-name>
    <url-pattern>/servlet/KeyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RuleServlet</servlet-name>
    <url-pattern>/servlet/RuleServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>HistoryServlet</servlet-name>
    <url-pattern>/servlet/HistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelHistoryRecServlet</servlet-name>
    <url-pattern>/servlet/DelHistoryRecServlet</url-pattern>
  </servlet-mapping>
  
</web-app>